@font-face {
    font-family: 'krisharegular';
    src: url('../../fonts/krisharegular-518zx-webfont.woff2') format('woff2'),
         url('../../fonts/krisharegular-518zx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



