<style>

@font-face {
    font-family: "krisharegular";
    src: url('../../fonts/krisharegular-518zx-webfont.woff2') format('woff2'),
            url('../../fonts/krisharegular-518zx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: "hackedregular"; 
    src: url('../assets/fonts/hacked-kerx-webfont/hacked-kerx-webfont.eot');
    src: url('../assets/fonts/hacked-kerx-webfont/hacked-kerx-webfont.eot?#iefix') format('embedded-opentype'),
            url('../assets/fonts/hacked-kerx-webfont/hacked-kerx-webfont.woff2') format('woff2'),
            url('../assets/fonts/hacked-kerx-webfont/hacked-kerx-webfont.woff') format('woff'),
            url('../assets/fonts/hacked-kerx-webfont/hacked-kerx-webfont.svg#hackedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
    
    @font-face {
    font-family: 'consolasbold_italic';
    src: url('../assets/fonts/consolas/consolaz-webfont.woff2') format('woff2'),
         url('../assets/fonts/consolas/consolaz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'consolasbold';
    src: url('../assets/fonts/consolas/consolab-webfont.woff2') format('woff2'),
         url('../assets/fonts/consolas/consolab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'consolasregular';
    src: url('../assets/fonts/consolas/consola-webfont.woff2') format('woff2'),
         url('../assets/fonts/consolas/consola-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'consolasitalic';
    src: url('../assets/fonts/consolas/consolai-webfont.woff2') format('woff2'),
         url('../assets/fonts/consolas/consolai-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

</style>