
<div class="grid-x grid-padding-x navbar">
    <div class="large-12 cell">
      <div class="grid-container" id="nav">
  
        <div class="cell large-3">
          <nav class="sticky-container" data-sticky-container>
            <div class="sticky" data-sticky data-anchor="nav" data-sticky-on="large">
              <ul class="dropdown menu" data-dropdown-menu data-magellan>

                <li>
                    <a href="index.html" class="cell item auto">chapters</a>    
                    <ul class="menu">
                        <li><a href="chapter1.html">chapter 1</a></li>
                        
                    </ul>
                </li>

                <li><a href="#chapters" class="cell item auto">newest_chapter</a></li>
                <li><a href="archive_section/index.html" class="cell item auto">the_archive</a></li>
                <li><a href="../index.html" class="item auto">home</a></li>
  
              </ul>
            </div>
          </nav>
        </div>
        
      </div>
    </div>
  </div> 