<!-- Add a Sticky Menu -->
<div data-sticky-container>
    <div class="top-bar" data-sticky data-margin-top="0" id="example-menu">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Site Title</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu" data-magellan>
          <li><a href="#first">One</a></li>
          <li><a href="#second">Two</a></li>
          <li><a href="#third">Three</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Add content where magellan will be linked -->
  <div class="sections">
    <section id="first" data-magellan-target="first">First Section</section>
    <section id="second" data-magellan-target="second">Second Section</section>
    <section id="third" data-magellan-target="third">Third Section</section>
  </div>