

      <div class="cell large-3">
        <nav class="sticky-container" data-sticky-container>
          <div class="sticky" data-sticky data-anchor="nav" data-sticky-on="large">
            <ul class="horizontal menu navbar" data-magellan>
              <li><a href="#first" class="cell item">chapters</a></li>
              <li><a href="#second" class="cell item">the_archive</a></li>
              <li><a href="#third" class="item">about_the_author</a></li>
              <li><a href="template.html" class="item">template</a></li>

            </ul>
          </div>
        </nav>
      </div>