<div class="cell large-12 navbar" id="nav">
  <nav class="sticky-container" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="nav">
      <ul class="horizontal menu" data-magellan>

        <li><a href="chapters/index.html" class="cell item auto">chapters</a></li>
        <li><a href="#third" class="cell item auto">about_the_author</a></li>
        <li><a href="archive_section/index.html" class="cell item auto">the_archive</a></li>

      </ul>
    </div>
  </nav>
</div>


<!--




      <div class="cell small-6 left" data-sticky-container>
  <div class="sticky" data-sticky data-margin-top="0">
    <img class="thumbnail navbar" src="../../assets/img/field_benders_logo.png">
    
  </div>
</div>

<div class="cell small-6 right" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="foo">

    <ul class="horizontal menu navbar" data-magellan>

      <li><a href="chapters/index.html" class="cell item auto">chapters</a></li>
      <li><a href="#third" class="cell item auto">about_the_author</a></li>
      <li><a href="archive_section/index.html" class="cell item auto">the_archive</a></li>

    </ul>
  </div>
</div>
      
      
-->